.weather {
	border: 1px solid lightgray;
	padding: 5px;
	position: relative;
	width: 200px;

	h3 {
		margin: 0;
	}

	.current-image {
		height: auto;
		position: absolute;
		right: 5px;
		top: 5px;
		width: 40px;
	}
}